*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.clear{
    float: none;
    clear: both;
}

.text-center{
    text-align: center;
}

.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn{
    background-color: #e2f10f;
    padding: 1% 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.btn:hover{
    background-color: #f39c12;
}
.btn-add{
    background-color: rgb(23, 149, 221);
    padding: 1% 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-add:hover{
    background-color: rgb(10, 88, 161);
}
.btn-update{
    background-color: #2ecc71;
    padding: 1% 2%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-update:hover{
    background-color:#27ae60;
}
.btn-delete{
    background-color: #e74c3c;
    padding: 1% 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-delete:hover{
    background-color: #c0392b;
}

.thanhcong{
    color: #27ae60;
}
.loi{
    color: #e74c3c;
}
/* Css menu */
.menu{
    border-bottom: 1px solid #ccc;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #009c49;
}
.menu ul li a:hover{
    color: #8cf3bc;
}
/* Css main-centent */
.main-content{
    background-color: #8cf3bc;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
/* Css footer */
.footer{
    background-color: #009c49;
    color: white;
}

/* Css login */
.login{
    border: 1px solid #ccc;
    width: 20%;
    margin: 5% auto;
    padding: 2%;
}